In [1]:
%%javascript
require(["codemirror/keymap/sublime", "notebook/js/cell", "base/js/namespace"],
    function(sublime_keymap, cell, IPython){
        cell.Cell.options_default.cm_config.keyMap = 'sublime';
        var cells = IPython.notebook.get_cells();
        for(var cl=0; cl< cells.length ; cl++){
            cells[cl].code_mirror.setOption('keyMap', 'sublime');
        }
    }
);

In [2]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

#### Load lite results from log file

In [14]:
import ast

test_log = pd.read_excel('results/df/test_log.xlsx').drop(['Unnamed: 0'],axis=1)
test_log['n_features'] = [len(ast.literal_eval(item)) for item in test_log['features']]
test_log.round(3).head()

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
0,0,0,0,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df0,0.679,0.761,0.513,0.763,0.508,0.239,0.760,11
1,0,0,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df1,0.695,0.806,0.522,0.727,0.629,0.194,0.763,11
2,1,1,0,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df2,0.660,0.749,0.471,0.755,0.463,0.251,0.750,11
3,1,1,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df3,0.692,0.801,0.527,0.721,0.632,0.199,0.757,11
4,0,0,0,"['age', 'anaemia']",0.66,100,df4,0.662,0.705,0.465,0.869,0.224,0.295,0.776,2

#### Time to actually do something

In [18]:
query = {
    'auto_train': False,
    'oversample': True,
    'n_features': 2
}
query_str = ''
for key in query.keys():
    query_str = query_str + f'{key} == @query["{key}"] & ' 
query_str = query_str[:-2]

test_log_sorted = test_log.query(query_str).sort_values(by=['selectivity'],ascending=False).round(3)
test_log_sorted

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
110,0,0,1,"['serum_creatinine', 'smoking']",0.66,100,df110,0.745,0.764,0.679,0.904,0.410,0.236,0.827,2
100,0,0,1,"['high_blood_pressure', 'serum_creatinine']",0.66,100,df100,0.714,0.740,0.624,0.892,0.344,0.260,0.807,2
109,0,0,1,"['serum_creatinine', 'sex']",0.66,100,df109,0.716,0.750,0.600,0.881,0.362,0.250,0.808,2
74,0,0,1,"['anaemia', 'serum_creatinine']",0.66,100,df74,0.710,0.745,0.594,0.879,0.356,0.255,0.804,2
95,0,0,1,"['ejection_fraction', 'serum_creatinine']",0.66,100,df95,0.732,0.805,0.581,0.802,0.585,0.195,0.802,2
98,0,0,1,"['ejection_fraction', 'smoking']",0.66,100,df98,0.690,0.750,0.555,0.815,0.440,0.250,0.777,2
97,0,0,1,"['ejection_fraction', 'sex']",0.66,100,df97,0.699,0.761,0.545,0.827,0.429,0.239,0.789,2
71,0,0,1,"['anaemia', 'ejection_fraction']",0.66,100,df71,0.703,0.761,0.538,0.832,0.421,0.239,0.793,2
89,0,0,1,"['diabetes', 'serum_creatinine']",0.66,100,df89,0.695,0.738,0.534,0.862,0.332,0.262,0.794,2
62,0,0,1,"['age', 'ejection_fraction']",0.66,100,df62,0.690,0.774,0.523,0.769,0.527,0.226,0.770,2
86,0,0,1,"['diabetes', 'ejection_fraction']",0.66,100,df86,0.685,0.751,0.520,0.811,0.423,0.249,0.777,2
93,0,0,1,"['ejection_fraction', 'high_blood_pressure']",0.66,100,df93,0.680,0.740,0.516,0.825,0.377,0.260,0.777,2
96,0,0,1,"['ejection_fraction', 'serum_sodium']",0.66,100,df96,0.662,0.739,0.485,0.773,0.436,0.261,0.754,2
108,0,0,1,"['serum_creatinine', 'serum_sodium']",0.66,100,df108,0.671,0.756,0.483,0.768,0.464,0.244,0.760,2
65,0,0,1,"['age', 'serum_creatinine']",0.66,100,df65,0.661,0.759,0.477,0.736,0.504,0.241,0.745,2
82,0,0,1,"['creatinine_phosphokinase', 'serum_creatinine']",0.66,100,df82,0.648,0.767,0.459,0.694,0.550,0.233,0.727,2
68,0,0,1,"['age', 'smoking']",0.66,100,df68,0.657,0.715,0.456,0.827,0.298,0.285,0.765,2
104,0,0,1,"['platelets', 'serum_creatinine']",0.66,100,df104,0.637,0.761,0.443,0.686,0.534,0.239,0.720,2
63,0,0,1,"['age', 'high_blood_pressure']",0.66,100,df63,0.650,0.724,0.439,0.795,0.342,0.276,0.755,2
94,0,0,1,"['ejection_fraction', 'platelets']",0.66,100,df94,0.624,0.750,0.435,0.672,0.528,0.250,0.706,2
83,0,0,1,"['creatinine_phosphokinase', 'serum_sodium']",0.66,100,df83,0.608,0.760,0.432,0.613,0.602,0.240,0.676,2
79,0,0,1,"['creatinine_phosphokinase', 'ejection_fraction']",0.66,100,df79,0.627,0.746,0.426,0.692,0.489,0.254,0.716,2
61,0,0,1,"['age', 'diabetes']",0.66,100,df61,0.643,0.715,0.424,0.799,0.312,0.285,0.752,2
66,0,0,1,"['age', 'serum_sodium']",0.66,100,df66,0.611,0.728,0.421,0.678,0.478,0.272,0.700,2
101,0,0,1,"['high_blood_pressure', 'serum_sodium']",0.66,100,df101,0.611,0.716,0.418,0.702,0.428,0.284,0.706,2
112,0,0,1,"['serum_sodium', 'smoking']",0.66,100,df112,0.604,0.724,0.413,0.674,0.466,0.276,0.694,2
75,0,0,1,"['anaemia', 'serum_sodium']",0.66,100,df75,0.598,0.711,0.409,0.677,0.443,0.289,0.690,2
59,0,0,1,"['age', 'anaemia']",0.66,100,df59,0.637,0.699,0.404,0.821,0.251,0.301,0.753,2
64,0,0,1,"['age', 'platelets']",0.66,100,df64,0.594,0.740,0.402,0.625,0.535,0.260,0.675,2
105,0,0,1,"['platelets', 'serum_sodium']",0.66,100,df105,0.586,0.749,0.400,0.594,0.574,0.251,0.659,2
81,0,0,1,"['creatinine_phosphokinase', 'platelets']",0.66,100,df81,0.583,0.742,0.397,0.595,0.562,0.258,0.657,2
111,0,0,1,"['serum_sodium', 'sex']",0.66,100,df111,0.601,0.724,0.395,0.671,0.455,0.276,0.694,2
107,0,0,1,"['platelets', 'smoking']",0.66,100,df107,0.575,0.732,0.387,0.593,0.541,0.268,0.653,2
90,0,0,1,"['diabetes', 'serum_sodium']",0.66,100,df90,0.603,0.716,0.385,0.698,0.402,0.284,0.704,2
67,0,0,1,"['age', 'sex']",0.66,100,df67,0.616,0.710,0.380,0.745,0.339,0.290,0.725,2
106,0,0,1,"['platelets', 'sex']",0.66,100,df106,0.569,0.719,0.379,0.598,0.513,0.281,0.651,2
73,0,0,1,"['anaemia', 'platelets']",0.66,100,df73,0.552,0.711,0.374,0.562,0.533,0.289,0.625,2
88,0,0,1,"['diabetes', 'platelets']",0.66,100,df88,0.562,0.717,0.362,0.593,0.495,0.283,0.647,2
99,0,0,1,"['high_blood_pressure', 'platelets']",0.66,100,df99,0.553,0.710,0.357,0.584,0.492,0.290,0.638,2
85,0,0,1,"['creatinine_phosphokinase', 'smoking']",0.66,100,df85,0.564,0.718,0.355,0.607,0.476,0.282,0.654,2
92,0,0,1,"['diabetes', 'smoking']",0.66,100,df92,0.563,0.687,0.355,0.645,0.398,0.313,0.663,2
78,0,0,1,"['creatinine_phosphokinase', 'diabetes']",0.66,100,df78,0.550,0.700,0.351,0.591,0.466,0.300,0.638,2
69,0,0,1,"['anaemia', 'creatinine_phosphokinase']",0.66,100,df69,0.546,0.691,0.350,0.599,0.445,0.309,0.637,2
84,0,0,1,"['creatinine_phosphokinase', 'sex']",0.66,100,df84,0.549,0.694,0.344,0.605,0.435,0.306,0.643,2
60,0,0,1,"['age', 'creatinine_phosphokinase']",0.66,100,df60,0.551,0.701,0.342,0.600,0.448,0.299,0.644,2
80,0,0,1,"['creatinine_phosphokinase', 'high_blood_press...",0.66,100,df80,0.534,0.679,0.328,0.590,0.418,0.321,0.629,2
103,0,0,1,"['high_blood_pressure', 'smoking']",0.66,100,df103,0.499,0.685,0.320,0.500,0.506,0.315,0.569,2
113,0,0,1,"['sex', 'smoking']",0.66,100,df113,0.465,0.688,0.320,0.412,0.595,0.312,0.497,2
91,0,0,1,"['diabetes', 'sex']",0.66,100,df91,0.487,0.657,0.298,0.515,0.447,0.343,0.547,2
87,0,0,1,"['diabetes', 'high_blood_pressure']",0.66,100,df87,0.499,0.659,0.294,0.550,0.400,0.341,0.590,2
70,0,0,1,"['anaemia', 'diabetes']",0.66,100,df70,0.485,0.666,0.294,0.503,0.455,0.334,0.562,2
77,0,0,1,"['anaemia', 'smoking']",0.66,100,df77,0.485,0.650,0.293,0.526,0.415,0.350,0.567,2
76,0,0,1,"['anaemia', 'sex']",0.66,100,df76,0.526,0.663,0.285,0.620,0.333,0.337,0.627,2
102,0,0,1,"['high_blood_pressure', 'sex']",0.66,100,df102,0.537,0.655,0.283,0.661,0.289,0.345,0.645,2
72,0,0,1,"['anaemia', 'high_blood_pressure']",0.66,100,df72,0.478,0.638,0.266,0.541,0.362,0.362,0.569,2