In [1]:
%%javascript
require(["codemirror/keymap/sublime", "notebook/js/cell", "base/js/namespace"],
    function(sublime_keymap, cell, IPython){
        cell.Cell.options_default.cm_config.keyMap = 'sublime';
        var cells = IPython.notebook.get_cells();
        for(var cl=0; cl< cells.length ; cl++){
            cells[cl].code_mirror.setOption('keyMap', 'sublime');
        }
    }
);

In [2]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

#### Load lite results from log file

In [3]:
import ast

test_log = pd.read_excel('results/df/test_log.xlsx').drop(['Unnamed: 0'],axis=1)
test_log['n_features'] = [len(ast.literal_eval(item)) for item in test_log['features']]
test_log.round(3).tail()

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
341,1,1,1,"['age', 'sex', 'smoking', 'high_blood_pressure...",0.66,100,df453,0.686,0.744,0.531,0.823,0.404,0.256,0.779,5
342,1,1,1,"['age', 'sex', 'smoking', 'high_blood_pressure...",0.66,100,df454,0.570,0.736,0.386,0.579,0.555,0.264,0.643,5
343,1,1,1,"['age', 'sex', 'smoking', 'platelets', 'serum_...",0.66,100,df455,0.629,0.755,0.443,0.672,0.543,0.245,0.708,5
344,1,1,1,"['age', 'sex', 'smoking', 'platelets', 'serum_...",0.66,100,df456,0.579,0.738,0.398,0.585,0.566,0.262,0.651,5
345,1,1,1,"['age', 'sex', 'smoking', 'serum_creatinine', ...",0.66,100,df457,0.631,0.757,0.444,0.675,0.542,0.243,0.711,5

#### Time to actually do something

In [4]:
query = {
    'auto_train': False,
    'oversample': True,
    'n_features': 5
}
query_str = ''
for key in query.keys():
    query_str = query_str + f'{key} == @query["{key}"] & ' 
query_str = query_str[:-2]

test_log_sorted = test_log.sort_values(by=['recall'],ascending=False).round(3)
test_log_sorted.head(10)

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
338,1,1,1,"['age', 'sex', 'smoking', 'ejection_fraction',...",0.66,100,df450,0.718,0.823,0.554,0.750,0.655,0.177,0.782,5
215,1,1,1,"['ejection_fraction', 'serum_creatinine']",0.66,100,df215,0.709,0.815,0.544,0.740,0.647,0.185,0.774,2
9,1,2,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df9,0.693,0.809,0.518,0.719,0.639,0.191,0.760,11
10,1,4,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df10,0.694,0.809,0.517,0.725,0.631,0.191,0.762,11
11,1,6,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df11,0.696,0.808,0.527,0.724,0.640,0.192,0.762,11
3,1,1,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df3,0.694,0.807,0.518,0.727,0.626,0.193,0.763,11
1,0,0,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df1,0.689,0.805,0.518,0.716,0.635,0.195,0.756,11
13,1,20,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df13,0.691,0.805,0.520,0.719,0.634,0.195,0.757,11
282,0,0,1,"['age', 'sex', 'smoking', 'ejection_fraction',...",0.66,100,df394,0.731,0.805,0.583,0.801,0.587,0.195,0.801,5
12,1,10,1,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df12,0.695,0.804,0.529,0.728,0.631,0.196,0.762,11