In [1]:
%%javascript
require(["codemirror/keymap/sublime", "notebook/js/cell", "base/js/namespace"],
    function(sublime_keymap, cell, IPython){
        cell.Cell.options_default.cm_config.keyMap = 'sublime';
        var cells = IPython.notebook.get_cells();
        for(var cl=0; cl< cells.length ; cl++){
            cells[cl].code_mirror.setOption('keyMap', 'sublime');
        }
    }
);

In [2]:
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
import matplotlib.pyplot as plt
%matplotlib inline

#### Load lite results from log file

In [3]:
import ast

test_log = pd.read_excel('results/df/test_log.xlsx').drop(['Unnamed: 0'],axis=1)
test_log['n_features'] = [len(ast.literal_eval(item)) for item in test_log['features']]
test_log.round(3).head()

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
0,False,0,False,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df0,0.676,0.771,0.487,0.752,0.511,0.229,0.760,11
1,False,0,True,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df1,0.696,0.805,0.528,0.729,0.631,0.195,0.763,11
2,True,1,False,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df2,0.683,0.766,0.521,0.764,0.520,0.234,0.763,11
3,True,2,False,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df3,0.680,0.769,0.503,0.762,0.509,0.231,0.764,11
4,True,3,False,"['age', 'anaemia', 'creatinine_phosphokinase',...",0.66,100,df4,0.673,0.761,0.492,0.758,0.494,0.239,0.758,11

#### Time to actually do something

In [9]:
query = {
    'auto_train': True,
    'oversample': True,
    'n_features': 2
}
query_str = ''
for key in query.keys():
    query_str = query_str + f'{key} == @query["{key}"] & ' 
query_str = query_str[:-2]

test_log_sorted = test_log.query(query_str).sort_values(by=['selectivity'],ascending=False).round(3)
test_log_sorted.head(10)

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
293,True,1,True,"['serum_creatinine', 'smoking']",0.66,100,df293,0.738,0.760,0.664,0.897,0.407,0.240,0.822,2
348,True,5,True,"['serum_creatinine', 'smoking']",0.66,100,df348,0.742,0.769,0.656,0.893,0.417,0.231,0.825,2
312,True,5,True,"['anaemia', 'serum_creatinine']",0.66,100,df312,0.712,0.737,0.622,0.892,0.345,0.263,0.806,2
292,True,1,True,"['serum_creatinine', 'sex']",0.66,100,df292,0.714,0.739,0.618,0.892,0.342,0.261,0.807,2
347,True,5,True,"['serum_creatinine', 'sex']",0.66,100,df347,0.717,0.746,0.617,0.887,0.359,0.254,0.808,2
338,True,5,True,"['high_blood_pressure', 'serum_creatinine']",0.66,100,df338,0.712,0.739,0.612,0.888,0.343,0.261,0.805,2
283,True,1,True,"['high_blood_pressure', 'serum_creatinine']",0.66,100,df283,0.713,0.742,0.610,0.888,0.345,0.258,0.807,2
257,True,1,True,"['anaemia', 'serum_creatinine']",0.66,100,df257,0.710,0.741,0.595,0.883,0.346,0.259,0.804,2
333,True,5,True,"['ejection_fraction', 'serum_creatinine']",0.66,100,df333,0.731,0.803,0.586,0.804,0.580,0.197,0.802,2
278,True,1,True,"['ejection_fraction', 'serum_creatinine']",0.66,100,df278,0.730,0.804,0.579,0.802,0.577,0.196,0.801,2