In [1]:
%%javascript
require(["codemirror/keymap/sublime", "notebook/js/cell", "base/js/namespace"],
    function(sublime_keymap, cell, IPython){
        cell.Cell.options_default.cm_config.keyMap = 'sublime';
        var cells = IPython.notebook.get_cells();
        for(var cl=0; cl< cells.length ; cl++){
            cells[cl].code_mirror.setOption('keyMap', 'sublime');
        }
    }
);

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### Load lite results from log file

In [3]:
import ast

test_log = pd.read_excel('results/df/test_log.xlsx').drop(['Unnamed: 0'],axis=1)
test_log['n_features'] = [len(ast.literal_eval(item)) for item in test_log['features']]
test_log.round(3).tail()

,auto_train,added_features,oversample,features,train_size,robustness_iterations,results_df,accuracy,recall,selectivity,precision,NPV,FNR,F1_measure,n_features
331,True,1,True,"['age', 'sex', 'smoking', 'high_blood_pressure...",0.66,100,df331,0.679,0.392,0.818,0.517,0.739,0.608,0.437,5
332,True,1,True,"['age', 'sex', 'smoking', 'high_blood_pressure...",0.66,100,df332,0.570,0.531,0.591,0.380,0.729,0.469,0.437,5
333,True,1,True,"['age', 'sex', 'smoking', 'platelets', 'serum_...",0.66,100,df333,0.630,0.533,0.676,0.437,0.755,0.467,0.477,5
334,True,1,True,"['age', 'sex', 'smoking', 'platelets', 'serum_...",0.66,100,df334,0.579,0.570,0.586,0.390,0.747,0.430,0.459,5
335,True,1,True,"['age', 'sex', 'smoking', 'serum_creatinine', ...",0.66,100,df335,0.626,0.535,0.670,0.432,0.755,0.465,0.474,5

#### Ever-changing part